Repository DorianGrey/react-ts-playground: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix

.lintstagedrc:

{
    "src/**/*.{ts,tsx}": [
      "eslint --fix",
      "git add"
    ],
    "{scripts,config}/**/*.js": [
      "prettier --write",
      "git add"
    ],
    "assets/styles/**/*.scss": [
      "stylelint --fix"
    ]
  }

Simplify intl handling
  config/webpack/config.js
  package.json
  src/app/App.tsx
  src/app/i18n/i18n.ts
  src/app/language-picker/LanguagePicker.tsx
  src/app/provider/IntlConfigProvider.tsx
  src/app/state.ts
  src/app/store.ts
  src/main.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Improve intl config context hook usage
  src/app/language-picker/LanguagePicker.tsx
  src/app/provider/IntlConfigProvider.tsx
Due: eslint --fix

Dep. updates.
  package.json
  scripts/translations.js
  yarn.lock
Due: prettier --write

Several optimizations
  babel.config.js
  src/app/App.tsx
  src/app/currentTime/CurrentTime.tsx
  src/app/hooks/useCurrentDateTime.ts
  src/app/hooks/useNotification.ts
  src/app/naviLink.tsx
  src/app/navigation/Navigation.tsx
  src/app/notifications/NotificationProvider.tsx
  src/app/routes/parseParams/ParseParamsTestRoute.tsx
  src/app/todo-list/TodoList.tsx
Due: eslint --fix

Improve notification handling (again) - esp. w.r.t. external permission changes
  src/app/hooks/useNotification.ts
  src/app/store.ts
  src/app/todo-list/TodoList.tsx
  src/app/util/notification.ts
Due: eslint --fix

Another set of minor dep. updates
  package.json
  yarn.lock
Due: none

Minor dep. updates.
  package.json
  yarn.lock
Due: none

Properly use automatic polyfilling depending on browserslist
  .browserslistrc
  babel.config.js
  package.json
  src/app/i18n/i18n.ts
  yarn.lock
Due: eslint --fix

Move from enzyme to @testing-library/react
  config/jest/testSetup.ts
  jest.config.js
  package.json
  src/app/404/404.test.tsx
  src/app/404/__snapshots__/404.test.tsx.snap
  yarn.lock
Due: eslint --fix

Various dependency updates
  package.json
  src/app/404/404.test.tsx
  src/app/404/404.tsx
  src/app/i18n/languagePacks/de.ts
  src/app/i18n/languagePacks/en.ts
  src/app/navigation/Navigation.tsx
  src/app/todo-list/TodoEntry.tsx
  src/bootloader.ts
  src/main.tsx
  yarn.lock
Due: eslint --fix

Less redux, mot context
  package.json
  src/app/App.tsx
  src/app/provider/TodosProvider.tsx
  src/app/state.ts
  src/app/store.ts
  src/app/todo-list/TodoList.tsx
  src/app/todo-list/todo.state.ts
  src/main.tsx
  yarn.lock
Due: eslint --fix

Dep. updated / upgrades
  config/webpack/config.js
  jest.config.js
  package.json
  src/app/i18n/i18n.ts
  src/app/i18n/languagePacks/de.ts
  src/app/i18n/languagePacks/en.ts
  src/app/i18n/languagePacks/languagePack.ts
  src/app/language-picker/LanguagePicker.tsx
  src/app/navigation/Navigation.tsx
  src/app/provider/IntlConfigProvider.tsx
  src/app/todo-list/TodoEntry.tsx
  src/app/todo-list/TodoList.tsx
  yarn.lock
Due: eslint --fix, prettier --write

Dep. updates
  .nvmrc
  package.json
  scripts/translations.js
  src/app/routes/parseParams/ParseParamsTestRoute.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix, prettier --write

Fix jest-junit output directory
  package.json
Due: none

Use Suspense instead of react-loadable
  package.json
  src/app/Loading.tsx
  src/app/navigation/AsyncRoute.tsx
  src/app/navigation/Navigation.tsx
  src/app/routes/parseParams/ParseParamsTestRoute.tsx
  src/app/util/ErrorBoundary.tsx
  tsconfig.json
  yarn.lock
Due: eslint --fix

Dep. updates.
  package.json
  src/app/todo-list/TodoEntry.tsx
  yarn.lock
Due: eslint --fix

Dep. updates
  config/webpack/config.js
  package.json
  yarn.lock
Due: prettier --write

Experimenting with snowpack
  .browserslistrc
  README.md
  babel.config.js
  jest.config.js
  jest.setup.js
  package.json
  public/index.html
  public/robots.txt
  scripts/i18n.js
  scripts/translations.js
  snowpack.config.js
  src/additionalTypings/customTypings.d.ts
  src/app/App.tsx
  src/app/i18n/i18n.ts
  src/app/i18n/languagePacks/de.ts
  src/app/i18n/languagePacks/en.ts
  src/app/naviLink.tsx
  src/app/navigation/Navigation.tsx
  src/app/navigation/NavigationDrawer.tsx
  src/app/provider/IntlConfigProvider.tsx
  src/app/provider/TodosProvider.tsx
  src/app/theme/ThemeProvider.tsx
  src/app/theme/dark.ts
  src/app/theme/light.ts
  src/app/todo-list/TodoEntry.tsx
  src/app/todo-list/TodoList.tsx
  src/bootloader.ts
  src/index.tsx
  src/registerServiceWorker.ts
  src/styles/loading.css
  tsconfig.json
  types/import.d.ts
  types/static.d.ts
  yarn.lock
Due: eslint --fix, prettier --write

Reactive registerServiceWorker
  README.md
  package.json
  snowpack.config.js
  src/index.tsx
  src/registerServiceWorker.ts
  workbox-config.js
  yarn.lock
Due: eslint --fix

Snowpack update to fix issues mentioned in https://github.com/pikapkg/create-snowpack-app/issues/152
  README.md
  package.json
  src/app/navigation/Navigation.tsx
  yarn.lock
Due: eslint --fix

Some additional configuration testing - still causes an issue regarding <regeneratorRuntime>
  babel.config.js
  package.json
  snowpack.config.js
  yarn.lock
Due: none

Project cleanup, pt1.
  config/hostInfo.js
  config/webpack/config.js
  config/webpack/resolvedConfig.dev.js
  config/webpack/resolvedConfig.prod.js
  package.json
  scripts/inspect.js
  scripts/util/loadingAnimation.js
  snowpack.config.js
  yarn.lock
Due: prettier --write

Project cleanup, pt.2
  config/logger.js
  config/paths.js
  config/webpack/plugins/BuildStatsFormatterPlugin.js
  config/webpack/resolveLoaderError.js
  package.json
  scripts/serve.js
  scripts/translations.js
  snowpack.config.js
  yarn.lock
Due: prettier --write

Add @snowpack/plugin-react-refresh
  babel.config.js
  package.json
  snowpack.config.js
  yarn.lock
Due: none

README update for the two target branches + minor snowpack update
  README.md
  package.json
  yarn.lock
Due: none

Fix previous output comparison for build stats formatter
  .gitignore
  config/paths.js
  config/webpack/plugins/BuildStatsFormatterPlugin.js
  package.json
  scripts/current-build-stats.js
  scripts/translations.js
  scripts/util/formatUtil.js
  util/fileUtils.js
  util/getRelativeChunkName.js
  util/gzipSizeOf.js
Due: prettier --write

Remove unused comments from experimenting stage
  snowpack.config.js
Due: none

Dep. cleanup.
  config/webpack/plugins/BuildStatsFormatterPlugin.js
  jest.config.js
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

Move to pnpm instead of yarn on master
  README.md
  package.json
  pnpm-lock.yaml
  util/fileUtils.js
  yarn.lock
Due: none

Move to pnpm instead of yarn on master (#14)
  README.md
  package.json
  pnpm-lock.yaml
  util/fileUtils.js
  yarn.lock
Due: none

Fix create/update button for TodoEntry component
  src/app/todo-list/TodoEntry.tsx
Due: eslint --fix

Add immer to simplify immutable object mutation
  package.json
  pnpm-lock.yaml
  src/app/navigation/NavigationDrawer.tsx
  src/app/provider/IntlConfigProvider.tsx
  src/app/provider/TodosProvider.tsx
  src/app/todo-list/TodoEntry.tsx
Due: eslint --fix

Some routes restructuring
  src/app/navigation/Routes.tsx
  src/app/provider/TodosProvider.tsx
  src/app/routes/todo-list/TodoEntry.tsx
  src/app/routes/todo-list/TodoList.i18n.yml
  src/app/routes/todo-list/TodoList.tsx
  src/app/routes/todo-list/todo.model.ts
Due: eslint --fix

[DRAFT] Payment creation example
  src/app/general.i18n.yml
  src/app/navigation/NavigationDrawer.tsx
  src/app/navigation/Routes.tsx
  src/app/routes/payment-creation/PaymentCreation.i18n.yml
  src/app/routes/payment-creation/PaymentCreation.tsx
Due: eslint --fix

Extend the sample, needs to be a bit smarter, but a likely start anyway
  src/app/routes/payment-creation/PaymentCreation.i18n.yml
  src/app/routes/payment-creation/PaymentCreation.tsx
  src/app/routes/payment-creation/use-payment-creation.ts
Due: eslint --fix

Complete payment example
  src/app/routes/payment-creation/PaymentCreation.i18n.yml
  src/app/routes/payment-creation/PaymentCreation.tsx
Due: eslint --fix
